Thumbs.db
Desktop.ini
.DS_Store

# Unreal Engine
Binaries/
Build/
DerivedDataCache/
LocalDerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.opensdf
*.sdf
*.pdb
*.obj
*.tmp
*.rsp
*.xcodeproj
*.xcworkspace
.vs/

# Common art and editor caches
*.blend1
*.autosave

# Unreal generated world partition and HLOD artifacts for now
*_HLOD*.uasset
